{% extends 'blog/base.html' %}
{% block content %}	
	<div class = "container">
		<div class ="panel-group">
			<div class = "panel panel-primary">
				<div class="panel-heading"> le feed
				</div>
        			{% for post in posts %}
					<div class="panel-body">
        	    				<div>

        	        				<p><b>{{user.first_name}}</b> {{user.last_name}} <font color="gray">{{user.username}}</font> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.published_date|date:"h:i a M d, Y"}}</a></p>
							<p>{{ post.text|linebreaks }}</p>
						</div>
        	    			</div>
        			{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
