{% extends 'blog/base.html' %}
{% block content %}	
	<div class = "container">
		<div class ="panel-group">
			<div class = "panel panel-primary">
				<div class="panel-heading"> Newsfeed</div>
        		{% for post in posts %}
				<div class="panel-body">
        	    			<div>
        	        			<p>
                                <b>{{post.author.first_name}}</b>
                                {{post.author.last_name}}
                                <font color="gray">{{post.author.username}}</font>
                                <a href="{% url 'post_detail' pk=post.pk %}">
                                {{ post.published_date|date:"h:i a M d, Y"}}</a>
                                </p>
							    <p>
                                {{ post.text|linebreaks }}
                                </p>
                                <p> <!--Show the posts's number, add a button to redirect to the page -->
                                <a href="../post/{{post.pk}}">Post #{{post.pk}}</a>
                                </p>
						    </div>
        	    </div>
        		{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
