{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <!-- Checks that user is the author or admin before allowing edit/deletion -->
        {% if user.is_authenticated and post.auth == user or user.is_superuser%}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <!-- Add actual post deletion -->
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
		{% endif %}
		<h1>{{ post.title }}</h1>
	<p>
	{% if post.embedURL %}
	<img src={{post.embedURL}} alt="not valid brahhh"  width:100%  height:100% max-width="600" max-height="600">
	{% endif %}	
	</p>
        <p>{{ post.text|linebreaks }}</p>
    </div>

    <!--Comments section-->
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{comment.author}}</strong>
			<p>
				{% if post.embedURL %}
				<img src={{post.embedURL}} alt="not valid brahhh"  width:100%  height:100% max-width="600" max-height="600">
				{% endif %}	
			</p>
            <p>{{comment.text|linebreaks}}</p>
        </div>
    {% empty %}
        <p> No comments yet. </p>
    {% endfor %} 

{% endblock %}
