<html>
    <head>
        <title>CS180 proj</title>
    </head>
    <body>
    	<h2>Welcome, {{user.username}}.</h2>
        <form action="/logout">
            <input type="submit" value="Log Out">
        </form>
        <form action="/profile/">
            <input type="submit" value="Profile">
        </form>
        <h2>PROFILE PICTURE!</h2>
	<img src ="http://i.imgur.com/eJw1mP2.png" alt="slappa da bass" style="width:304px;height:228px;">
        <h2>Profile Details</h2>
        <p> Name :{{ user.first_name }} </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
{% block content %}
        <!--<form method="post"  action=".">{% csrf_token %}
           <input type="submit" value="Update" />
        </form>-->
<!--
    <form method="POST" action=/change_name/>{% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Update" />
    </form>
-->
        <form method="POST" action="/change_name/">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
{% endblock %}
        <p>Sex : </p>
        <p>Date of Birth: </p>
        <p>Email: {{user.email}}.</p>
    </body>
</html>
