<html>
    <head>
        <title>CS180 proj</title>
    </head>
    <body>
    	<h2>Welcome, {{user.username}}.</h2>
        <form action="/logout">
            <input type="submit" value="Log Out">
        </form>
        <form action="/profile/edit/">
            <input type="submit" value="Edit Profile">
        </form>
        <h2>PROFILE PICTURE!</h2>
	<img src ="http://i.imgur.com/eJw1mP2.png" alt="slappa da bass" style="width:304px;height:228px;">
        <h2>Profile Details</h2>
        <p> Name :{{ user.first_name }} </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
{% block content %}
        <!--<form method="post"  action=".">{% csrf_token %}
           <input type="submit" value="Update" />
        </form>-->
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            {{ form.value }}
        </table>
        <input type="submit" value="Update" />
    </form>

{% endblock %}
        <p>Sex : </p>
        <p>Date of Birth: </p>
        <p>Email: {{user.email}}.</p>
    </body>
</html>
