<html>
    <head>
        <title>CS180 proj</title>
    </head>
    <body>
    	<h2>Welcome, {{user.username}}.</h2>
        <form action="/logout">
            <span stlye="float:left;">
            <input type="submit" value="Log Out">
            </span>
        </form>
        <form action="/accounts/profile">
            <input type="submit" value="Profile">
            </span>
        </form>
        <h2>Profile Details</h2>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
{% block content %}
        <!--<form method="post"  action=".">{% csrf_token %}
           <input type="submit" value="Update" />
        </form>-->
<!--
    <form method="POST" action=/change_name/>{% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Update" />
    </form>
-->
        <form method="POST" action="/accounts/profile/edit" enctype="multi-part/form-data">
            {% csrf_token %}
            {{ form.as_p|safe }}
            <button type="submit">Update</button>
        </form>
{% endblock %}
    </body>
</html>
