{% load staticfiles %}
<html>
    <head>
        <title>CS180 proj</title>
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        {% if user.is_authenticated %}
    	<h2>Welcome, {{user.username}}.</h2>
	<table border="3" bgcolor="white" bordercolor="#000000">
		<tr>
			<form action="/logout">
        		    <input type="submit" value="Log Out">
        		</form>
        		<form action="/accounts/profile/edit">
        		    <input type="submit" value="Edit Profile">
        		</form>
		</tr>
		<tr>
			<td><h2>PROFILE PICTURE!</h2>
			<img src ="http://i.imgur.com/oS5abnv.png" style="width:304px;height:228px;"></td>
        	</tr>
		<tr>
			<td><h2>Profile Details</h2>
        		<p>Name:{{ user.first_name }} {{ user.last_name }}</p>
                        <p>Join Date: {{ user.date_joined|date:"M d, Y"  }}</p>
        		<p>Sex : {{ userprofile.user_sex }}</p>
		        <p>Date of Birth: {{ user.birth_date }}</p>
        		<p>Email: {{user.email}}</p>
                        <p>URL: {{ user.profile_picture_url.url }}</p></td>
        	</tr>
	</table>
        {% else %}
        <meta http-equiv="refresh" content="0; URL=/login">
        {% endif %}
    </body>
</html>
