{% load staticfiles %}
<html>
    <head>
        <title>CS180 proj</title>
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<style>
		    .panel-body {
		      		padding: @panel-body-padding;
				border: 1px solid;
		        	&:extend(.clearfix all);
			}
			body { background: #4099FF !important; }

	</style>

    </head>
    <body>
        {% if user.is_authenticated %}
	<h2>Welcome, {{user.username}}</h2>
	<div class="row">
	<div class ="col-sm-3">
	<table border="3" bgcolor="white" bordercolor="#000000">
		<tr>
			<form action="/logout">
        		    <input type="submit" value="Log Out">
        		</form>
        		<form action="/accounts/profile/edit">
        		    <input type="submit" value="Edit Profile">
        		</form>
			<form action="/blog">
        		    <input type="submit" value="Blog">
        		</form>

		</tr>
		<tr>
			<td bgcolor="white"><h2>PROFILE PICTURE!</h2>
			<img src ={{ request.user.userprofile.profile_picture_url  }} style="width:304px;height:228px;"></td>
        	</tr>
		<tr>
			<td bgcolor="white"><h2>Profile Details</h2>
        		<p>Name:{{ user.first_name }} {{ user.last_name }}</p>
                        <p>Nickname: {{ request.user.userprofile.nickname }}</p>
                        <p>Biography: {{ request.user.userprofile.biography }}</p>
                        <p>Join Date: {{ user.date_joined|date:"M d, Y"  }}</p>
        		<p>Sex : {{ request.user.userprofile.user_sex }}</p>
		        <p>Date of Birth: {{ request.user.UserProfile.birth_date }}</p>
        		<p>Email: {{user.email}}</p>
                        <p>URL: {{ request.user.userprofile.profile_picture_url }}</p></td>
        	</tr>
	</table>
	</div>
	<div class ="col-sm-6">

			<h2>insert tweet feed here</h2>
				{% for post in posts %}
				<div class="panel-body">
        	    		<div>
        	        		<p>
                                <b>{{post.author.first_name}}</b>
                                {{post.author.last_name}}
                                <font color="gray">{{post.author.username}}</font>
                                <a href="{% url 'post_detail' pk=post.pk %}">
                                {{ post.published_date|date:"h:i a M d, Y"}}</a>
                            </p>
							<p>
                                {{ post.text|linebreaks }}
                            </p>
                            <p> <!--Show the posts's number, add a button to redirect to the page -->
                                <a href="../post/{{post.pk}}">Post #{{post.pk}}</a>
                            </p>
						</div>
        	    </div>
                <a href="{% url 'blog.views.post_detail' pk=post.pk %}">Comments: {{post.comments.count}}</a>
        		{% endfor %}

	</div>
	<div class ="col-sm-3">

				<h2>Following <font color="blue">{{user.userprofile.follows.count}}</font></h2>
			{% for follows in user.userprofile.follows.all %}
				<p>
					<b><a href="/../accounts/profile/{{follows}}" color="black"><b><font color="black">{{follows}}</font></b></a></b>
				</p>
			{% endfor %}
			<h2>Followers <font color="blue">{{user.userprofile.followed_by.count}}</font></h2>
			{% for follower in user.userprofile.followed_by.all %}
				<p>
					<b><a href="/../accounts/profile/{{follower}}" color="black"><b><font color="black">{{follower}}</font></b></a></b>
				</p>
			{% endfor %}	</div>

        {% else %}
        <meta http-equiv="refresh" content="0; URL=/login">
        {% endif %}
    </body>
</html>
